<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de profesor</title>
</head>
<body>
<h1 th:text="|${teacher.firstName} ${teacher.lastName}|">Nombre del profesor</h1>
<p>Fecha de nacimiento:
    <th:block th:text="${teacher.birthDate}">YYYY-MM-DD</th:block>
</p>
<p>Fecha de incorporación: <span th:text="${teacher.startDate}" th:remove="tag">YYYY-MM-DD</span></p>

<p>Email: <span th:text="${teacher.email}">correo@dondesea.org</span></p>

</body>
</html>