<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo profesor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
<h1>Nuevo profesor</h1>
<form method="post" th:object="${teacher}">
    <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" th:field="*{email}">
    </div>
    <div class="mb-3">
        <label for="first-name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="first-name" th:field="*{firstName}">
    </div>
    <div class="mb-3">
        <label for="last-name" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" id="last-name" th:field="*{lastName}">
    </div>
    <div class="mb-3">
        <label for="birth-date" class="form-label">Fecha de nacimiento:</label>
        <input type="date" class="form-control" id="birth-date" th:field="*{birthDate}">
    </div>
    <div class="mb-3">
        <label for="start-date" class="form-label">Fecha de inicio:</label>
        <input type="date" class="form-control" id="start-date" th:field="*{startDate}">
    </div>
    <div class="mb-3">
        <label for="department-id" class="form-label">Departamento:</label>
        <select class="form-select" id="department-id" th:field="*{departmentId}">
            <option value="">Seleccione departamento</option>
            <th:block th:remove="all-but-first">
            <option th:each="department: ${departments}"
                    th:value="${department.departmentId}"
                    th:text="${department.name}"
                    value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </th:block>
        </select>


    </div>




    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>

</body>
</html>