<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de estudiantes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <div th:replace="~{fragments :: header}"></div>
    <h1>Listado de estudiantes</h1>
    <ul th:if="${!students.isEmpty()}">
        <li th:each="student : ${students}">
            <a th:href="@{/students/{id}(id=${student.studentId})}"
               th:text="|${student.getFirstName()} ${student.getLastName()}|"></a>
            <span th:if="${student.hasScholarship}"> Con beca</span>
        </li>
    </ul>
</div>


</body>
</html>