<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Formulario multipaso - Final')}">
    <title>Formulario multipaso - Final</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/fragments :: header}"></header>
    <div class="container">
        <h2>Formulario multipaso - Final</h2>

        <div class="card shadow border-success">
            <div class="card-body text-center">

                <h3 class="text-success mb-3">Registro completado</h3>

                <p>El formulario se ha enviado correctamente (simulado).</p>

                <a th:href="@{/forms/multi-step/step-one}" class="btn btn-primary mt-3">
                    Empezar de nuevo
                </a>

            </div>
        </div>

    </div>

</div>


</body>
</html>
