<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de estudiantes</title>
</head>
<body>
<h1>Listado de estudiantes</h1>
<h2>Usando interpolación</h2>
<ul th:remove="all-but-first">
    <li th:each="student: ${students}" th:text="|${student.id} - ${student.firstName} ${student.lastName}|">Nombre del
        Ejemplo de alumno 1
    </li>
    <li>Ejemplo de alumno 2</li>
    <li>Ejemplo de alumno 3</li>
</ul>

<h2>Usando concatenación</h2>
<ul>
    <li th:each="student: ${students}"
        th:text="${student.id} + ' - ' + ${student.firstName} + ' ' + ${student.lastName}">Nombre del alumno
    </li>
</ul>
</body>
</html>